<div class="min-w-[600px] flex flex-col gap-2 ">
    @for(item of items;track item.id) {
        <div class="flex justify-between my-1 w-full ">
            <div class="flex-1 bg-white-200 bg-white rounded shadow-md hover:shadow-lg p-2 cursor-pointer flex justify-between">
                <div class="flex-1" (click)="checkTodo(item)" [class.line-through]="item.checked">{{item.content}}</div>
                <button class="bg-red-600 text-white px-2 py-1 rounded shadow" (click)="removeItem(item)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div>
        </div>
    } @empty {
        <div class="text-gray-500 text-center text-lg">
            List is empty
        </div>
    }
</div>