<div class="min-h-screen flex flex-col items-center bg-gradient-to-r from-slate-100 to-slate-300 dark:from-indigo-800 dark:to-indigo-950">
  <!-- Create new todo -->
  <form class="min-w-[600px] m-5 flex gap-1 h-fit">
    <input [(ngModel)]="newTodoContent" name="new-todo-content" placeholder="New Todo" class="shadow appearance-none rounded w-full px-3 text-gray-700 leading-tight outline-none focus:ring-2 dark:bg-indigo-950 dark:text-white" type="text">
    <button (click)="$event.preventDefault;addNewItem()"  class="px-4 py-2 bg-gradient-to-r from-indigo-500 to-indigo-600 text-white rounded shadow-sm hover:shadow-md">Add</button>
  </form>
  
  
  <!-- Filters -->
  <div class="min-w-[600px] my-2 flex justify-center gap-2">
    @for(filter of filters;track filter;){
      <button (click)="setCurrentFilter(filter)" class="px-2 py-1 rounded shadow border-2 border-indigo-600" [ngClass]="{
        'bg-white text-indigo-600':currentFilter!==filter,
        'bg-indigo-600 text-white':currentFilter==filter,
      }">
      {{filter}}
    </button>
  }
</div>

<!-- Items -->
<div class="min-w-[600px] flex flex-col gap-2 ">
  @for(item of items;track item.id) {
    <div *ngIf="displayItem(item)" class="flex gap-1 my-1 w-full">
      <div class="flex-1 bg-white-200 bg-white rounded shadow-md hover:shadow-lg p-2">
        <span [class.line-through]="item.checked">{{item.content}}</span>
      </div>
      <button (click)="checkTodo(item)" class="px-3 rounded shadow-md hover:shadow-lg text-white bg-indigo-600"
      >
      @if(item.checked){
        <fa-icon [icon]="faRotateLeft"></fa-icon>
      } @else {
        <fa-icon [icon]="faCheck"></fa-icon>
      }
    </button>
  </div>
} @empty {
  <div class="text-gray-500 text-center text-lg">
    List is empty
  </div>
}
</div>
</div>